
@{
    ViewData["Title"] = "AboutMasterPage";
    Layout = "~/Views/Shared/_PracticeProgram21MasterLayout.cshtml";
}

<h1 class="text-center">About Page</h1>
<h4 class="text-center">@ViewBag.Message</h4>


