
@{
    ViewData["Title"] = "ContactMasterPage";
    Layout = "~/Views/Shared/_PracticeProgram21MasterLayout.cshtml";
}

<h1 class="text-center">Contact Page</h1>
<h4 class="text-center">@ViewBag.Message</h4>

