@model ASP.netCorePracticeList.Models.ModelTransfer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Displaying Data</h2>
<div class="table-bordered pt-4">
    <div class="row pt-2">
        <div class="col-md-12 text-center font-weight-bold" style="font-size:2em;">
            @Html.DisplayFor(model => model.dropdownVal)
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-md-12 text-center font-weight-bold" style="font-size:2em;">
            @Html.DisplayFor(model => model.chkChoiceVal)
        </div>
    </div>
</div>