@model ASP.netCorePracticeList.Database.Model.MobileDetails
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<form method="post">

    <div class="form-group">
        <div class="row">
            <div class="col-4">
                @Html.Label("Minimum Amount:")
            </div>
            <div class="col-8">
                @Html.TextBox("MinAmt", null, htmlAttributes: new { @class = "form-control", @type = "number", @min = 0 })
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                @Html.Label("Maxium Amount:")
            </div>
            <div class="col-8">
                @Html.TextBox("MaxAmt", null, htmlAttributes: new { @class = "form-control", @type = "number", @min = 0 })
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <input type="button" value="Find Mobile" class="btn btn-primary" id="btnClick" />
                <a type="button" value="Back" asp-action="Index" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="DivDisplayDataOnFilter">
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>
        $("#btnClick").on('click', function () {
            var minamount = $('#MinAmt').val();
            var maxamount = $('#MaxAmt').val();
            jQuery.ajax({
                type: 'GET',
                url: '/PracticeProgram29MobileDetails/GetDataOnFilter',
                data: { minimumamount: minamount, maximumamount: maxamount },
                success: function (data) {
                    $("#DivDisplayDataOnFilter").html(data);
                }
            });
        });
    </script>
}

